In [1]:
import sqlite3
from sqlite3 import Error

In [30]:
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

def get_cursor(connection):
    try:
        cursor = connection.cursor()
        print("cursor creation successful")
    except Error as e:
        print(f"the error {e} occurred")
    
    return cursor

def create_table(cursor, script_path):
    try:
        sql_file = open(script_path)
        sql_as_string = sql_file.read()
        cursor.executescript(sql_as_string)
        print("table successfully created")
    except Error as e:
        print(f"the error {e} occurred")

        
def df_to_sql(df, connection, table, if_exists):
    try:
        df.to_sql(name=table, con=connection, if_exists=if_exists, index = False)
    except Error as e:
        print(f"the error {e} occurred")


def delete_table(cursor, table):
    try:
        cursor.execute(f"DROP TABLE {table}")
        print("Table dropped... ")
    except:
        print(f"the error {e} occurred")

def close_connection(connection):
    try:
        connection.commit()
        connection.close()
        print("successfully closed")
    except Error as e:
        print(f"the error {e} occurred")

def load_content(cursor, table, limit):
    try:
        cursor.execute(f'''  
        SELECT * FROM {table} LIMIT {limit}
                ''')
        for row in cursor.fetchall():
            print (row)

    except Error as e:
        print(f"the error {e} occurred")

In [9]:
connection = create_connection("C:\\10\week11\sample.db")

Connection to SQLite DB successful

In [10]:
cursor = get_cursor(connection)

cursor creation successful

In [16]:
delete_table(cursor, "airports")

Table dropped...

In [19]:
import pandas as pd

data = {'product_name': ['Computer','Tablet','Monitor','Printer'],
        'price': [900,300,450,150]
        }

df = pd.DataFrame(data, columns= ['product_name','price'])
print (df)

  product_name  price
0     Computer    900
1       Tablet    300
2      Monitor    450
3      Printer    150

In [22]:
create_table(cursor, "../scripts/sql/sample.sql")

table successfully created

In [28]:
df_to_sql(df, connection, "products", "append")

In [31]:
load_content(cursor, "products", 2)

('Computer', 900)
('Tablet', 300)